<!-- Template Main JS File -->
<script src="~/resumestyle/js/main.js"></script>

<div class="modal-header">
    <h2 class="modal-title" style="font-weight: bold">
        實作_登入&註冊信箱驗證
    </h2>
    <button type="button" class="btn-close close" data-dismiss="modal"></button>
</div>
<div class="modal-body">
    <main id="main">
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8" style="margin-bottom:50px;">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="~/image/cproject_loginsignup-detail_1.jpg" alt="" />
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/image/cproject_loginsignup-detail_2.jpg" alt="" />
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/image/cproject_loginsignup-detail_3.jpg" alt="" />
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>詳細資訊</h3>
                            <h6>
                                練習帳號登入&註冊<br />註冊驗證信件寄出的驗證流程。<br />
                                使用.NET Framework中<br />.Net.Mail提供的類和方法,<br />
                                主要透過SmtpClient通過SMTP<br />
                                發送郵件、指定郵件伺服、<br />驗證用戶身分、設定郵件內容、<br />標題、指定發送和接收者。<br />
                            </h6>
                                
                            <ul>
                                <li><strong>類別</strong>: 登入&註冊信箱驗證實作練習</li>
                                <li><strong>使用對象</strong>: 所有人</li>
                                <li><strong>項目日期</strong>: 22 November, 2023</li>
                                <li><strong>專案網址連結</strong>: <a href="https://cprojloginsignup.azurewebsites.net" target="_blank">實作_登入&註冊信箱驗證</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
    </main><!-- End #main -->
</div>