<div class="modal-header">
    <h2 class="modal-title" style="font-weight: bold">
        工作經歷_ 兆葳科技股份有限公司
    </h2>
    <button type="button" class="btn-close close" data-dismiss="modal"></button>
</div>

<div class="modal-body">
    <main id="main">
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <h2>MIS系統開發維護</h2>
                                    <p>主要接手公司內部MIS系統開發和維護工作, </p>
                                    <p>期間是用ASP.NET Core MVC的框架控制應用行為, 配合ORM框架套件,</p>
                                    <p>簡易的CRUD用EntityFramework的DbSet和Linq的Enumerable查詢,</p>
                                    <p>較複雜的查詢以Dapper的SqlMapper執行。</p>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>詳細資訊</h3>
                            <ul>
                                <li><strong>類別</strong>: 公司內部MIS系統</li>
                                <li><strong>使用對象</strong>: 公司內部人員</li>
                                <li><strong>項目日期</strong>: <br />
                                    July 2022 - October 2023</li>
                                <li><strong>專案網址</strong>: <a href="">企業內部系統</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Details Section -->
    </main><!-- End #main -->
</div>
